# SF-DAT-21 | Lab 07 | Answer Key

In [1]:
import os
import numpy as np
import pandas as pd
from sklearn import feature_selection, linear_model

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [46]:
df = pd.read_csv(os.path.join('..', 'datasets', 'credit.csv'))

In [47]:
print df.shape
df.head()

(400, 10)

,Income,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,514,4,71,11,Male,No,No,Asian,580
3,148.924,681,3,36,11,Female,No,No,Asian,964
4,55.882,357,2,68,16,Male,No,Yes,Caucasian,331

A description of the dataset is as follows:

- Income (in thousands of dollars)
- Rating: Credit score rating
- Cards: Number of Credit cards owned
- Age
- Education: Years of Education
- Gender: Male/Female
- Student: Yes/No
- Married: Yes/No
- Ethnicity: African American/Asian/Caucasian
- Balance: Average credit card debt

## Question 1: Let's explore the quantitative variables that affect `Balance`.  From your preliminary analysis, which 2 variables seem to affect `Balance` the most?  Our goal is interpretation; can we use these 2 variables simultaneously?  Why or why not?

In [48]:
df.corr().round(3)

           Income  Rating  Cards    Age  Education  Balance
Income      1.000   0.791 -0.018  0.175     -0.028    0.464
Rating      0.791   1.000  0.053  0.103     -0.030    0.864
Cards      -0.018   0.053  1.000  0.043     -0.051    0.086
Age         0.175   0.103  0.043  1.000      0.004    0.002
Education  -0.028  -0.030 -0.051  0.004      1.000   -0.008
Balance     0.464   0.864  0.086  0.002     -0.008    1.000

Answer: 
* Rating and Income
* Not good since the two are highly correlated

## Question 2: `Race`, `Gender`, `Married`, and `Student` are categorical variables.  Go ahead and create dummy variables for all of them.

In [49]:
df.head(2)

,Income,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,483,3,82,15,Female,Yes,Yes,Asian,903

In [50]:
print df.Ethnicity.value_counts()
print df.Gender.value_counts()
print df.Married.value_counts()
print df.Student.value_counts()

Caucasian           199
Asian               102
African American     99
Name: Ethnicity, dtype: int64
Female    207
Male      193
Name: Gender, dtype: int64
Yes    245
No     155
Name: Married, dtype: int64
No     360
Yes     40
Name: Student, dtype: int64

In [51]:
ethnicity = {'Caucasian':1,'Asian':0,'African American':0}
df['Race_Caucasian'] = df.Ethnicity.map(ethnicity)
ethnicity_2 = {'Caucasian':0,'Asian':1,'African American':0}
df['Race_Asian'] = df.Ethnicity.map(ethnicity_2)
ethnicity_3 = {'Caucasian':0,'Asian':0,'African American':1}
df['Race_AA'] = df.Ethnicity.map(ethnicity_3)

In [52]:
gender = {'Female':1,'Male':0}
df['Female'] = df.Gender.map(gender)

gender_2 = {'Female':0, 'Female':1}
df['Male'] = df.Gender.map(gender_2)

In [53]:
married = {'Yes':1,'No':0}
df['married'] = df.Married.map(married)
married_2 = {'Yes':0,'No':1}
df['not_married'] = df.Married.map(married_2)

In [54]:
student = {'Yes':1, 'No':0}
df['student'] = df.Student.map(student)
student_2 = {'Yes':0,'No':1}
df['not_student'] = df.Student.map(student_2)

In [55]:
df.head(2)

,Income,Rating,Cards,Age,Education,...,Male,married,not_married,student,not_student
0,14.891,283,2,34,11,...,NaN,1,0,0,1
1,106.025,483,3,82,15,...,1,1,0,1,0

## Question 3: Using sklearn and a linear regression, predict `Balance` using `Income`, `Cards`, `Age`, `Education`, `Gender`, and `Race`

First, find the coefficients of your regression line.

In [74]:
from sklearn import linear_model

lm = linear_model.LinearRegression()
lm.fit(df[['Income','Cards','Age','Education','Female','Race_Asian','Race_AA']],df.Balance)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [75]:
print lm.intercept_
print lm.coef_

233.517330806
[  6.27995894  33.62953508  -2.32970547   1.64553607  27.12543123
 -10.02100719  -3.47497641]

In [88]:
model = feature_selection.f_regression(df[['Income','Cards','Age','Education','Female','Race_Asian','Race_AA']],df.Balance)

In [93]:
model.pval()

AttributeError: 'tuple' object has no attribute 'pval'

Then, find the p-values of your estimates.  You have a few variables try to show your p-values alongside the names of the variables.

## Question 4: Which of your coefficients are significant at the 5% significance level?

Answer:

## Question 5: What is your model's $R^2$?

## Question 6: How do we interpret this value?

Answer:

## Question 7: Now let's focus on the two most significant variables from your previous model and re-run your regression model.

## Question 8: In comparison to the previous model, did the $R^2$ increase or decrease?  Why?

Answer:

## Question 9: Now let's regress `Balance` on `Gender` alone.  After running your linear regressions, do you have enough evidence to claim that females have more balance than males?  (Hint: Look at the p-value of the Gender coefficient.  If it is significant then you will have evidence to support that claim, otherwise you cannot support the statement.)

Answer: (If your answer is yes, interpret the results).

## Question 10: Now let's regress `Balance` on `Ethnicity`.  After running your linear regressions, do you have enough evidence to claim that some ethnic groups carry more balance than others?

Answer: (If your answer is yes, interpret the results).

## Question 11: Finally let's regress `Balance` on `Student`.  After running your linear regressions, do you have enough evidence to claim that students carry more balance than non-students?

Answer: (If your answer is yes, interpret the results).

## Question 12: No let's consider the effect of `Student` and `Income` on `Balance` simultaneously.  Are all the coefficients significant?

Answer:

## Question 13: No let's consider the interaction effect of `Student` and `Income` on `Balance` simultaneously.  Are all the coefficients significant?  It they are, write down your regression model below

(First generate a new variable for the interaction term)

Answer:

## Question 14: Is there any income level at which students and non-students on average carry same level of balance?

Answer: